.legend-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.legend-item-text {
    margin-bottom: 0;
}

.legend-row-wrapper {
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
    border: 1px #D2D2D2 solid;
    background-color: #F7F7F7;
}

.map-row {
    width: 100%;
    height: 50vh;
    margin: 0;
    padding-bottom: 6px;
    overflow: auto;
}

#home {
    padding: 12px;
}

#popup-content {
    padding: 12px;
}

.show {
    z-index: 4000 !important;
}

.column {
    padding: 0;
}

.map-card {
    height: 100%;
    width: 100%;
}

.aggregated-card {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.gdp-card {
    height: 100%;
    width: 100%;
}

.affected-card {
    height: 100%;
    width: 100%;
}

.map-column {
    height: 100%;
    padding-right: 6px;
}

.aggregated-column {
    height: 100%;
    padding-left: 6px;
}

.gdp-column {
    padding-right: 6px;
}

.affected-column {
    padding-left: 6px;
}

.slider-container {
    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
}

.graphs-row {
    width: 100%;
    height: 40vh;
    margin: 0;
    padding-top: 6px;
}

.graphs-column {
    width: 50vw;
}

.slider {
    padding-bottom: 0 !important;
}

.events-column {
    width: 30vw;
    padding-right: 0;
    padding-left: 0;
}

.popup-map-row {
    height: 40vh !important;
}

.events-accordion {
    margin: 0 !important;
}

.aggregated-data {
    margin: 0 !important;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
}

.card {
    padding: 0 !important;
}

.map-column-popup {
    max-height: 100%;
}

.events-column-popup {
    overflow-y: auto;
    max-height: 100% ;
}

#us_layout {
    padding: 12px;
}

.us-map-row {
    width: 100%;
    height: fit-content;
}

.us-graphs-row {
    height: fit-content !important;
    padding-bottom: 6px;
}

.us-map-column {
    height: 50vh;
    padding-bottom: 0 !important;
}

.map-info {
    background-color: white;
    border-radius: 5px;
    padding: 6px 8px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #363636;
}

@media only screen and (max-width: 1200px) {
    .map-row {
        display: block;
        height: fit-content;
    }

    .map-column {
        width: 100%;
        height: 50vh;
        padding: 0 0 6px 0;
    }

    .aggregated-column {
        width: 100%;
        padding: 6px 0 0 0;
    }

    .aggregated-card {
        height: auto;
    }

    .graphs-row {
        display: block;
        height: fit-content;
    }

    .gdp-column {
        padding: 0 0 6px 0;
        width: 100%;
    }

    .affected-column {
        padding: 6px 0 0 0;
        width: 100%;
    }

    .modal-content {
        overflow-y: scroll !important;
    }

    .show-events {
        position: initial;
    }

    .mit-map {
        padding-bottom: 6px !important;
    }
}